#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    // custom shift using mod-morph 

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        Hiragana: Hiragana {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "HIRAGANA";
        };
    };

    combos {
        compatible = "zmk,combos";

        bootloader {
            bindings = <&bootloader>;
            key-positions = <30 38>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWRT";
            bindings = <
&kp SQT    &kp W     &kp E    &kp R      &kp T                                      &kp Y           &kp U  &kp I      &kp O    &kp SEMICOLON
&kp A      &kp S     &kp D    &kp F      &kp G                                      &kp H           &kp J  &kp K      &kp L    &kp P
&kp Q      &kp X     &kp C    &kp V      &kp Z                                      &kp N           &kp M  &kp COMMA  &kp DOT  &kp B
&kp LCTRL  &kp LALT  &kp TAB  &kp ENTER  &kp SPACE  &lt 2 RIGHT_ALT  &kp BACKSPACE  &kp LEFT_SHIFT                             &kp SLASH
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans    &kp UP_ARROW  &trans     &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans        &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                                     &trans
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&kp LG(NUMBER_1)  &kp NUMBER_2  &kp N3     &kp N4      &kp N5                        &kp LBKT   &kp MINUS  &kp UP_ARROW  &kp EQUAL  &kp RBKT
&kp ESCAPE        &mkp RCLK     &mo 5      &mkp LCLK   &kp DEL                       &kp GRAVE  &kp LEFT   &kp DOWN      &kp RIGHT  &kp APOS
&kp N1            &kp N2        &kp N3     &kp N4      &kp N5                        &kp N6     &kp N7     &kp N8        &kp N9     &kp N0
&mo 3             &trans        &mkp MCLK  &bt BT_CLR  &bt BT_NXT  &trans  &kp LGUI  &trans                                         &tog 5
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&trans  &trans   &trans   &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans   &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&kp F1  &kp F2   &kp F3   &kp F4  &kp F5                  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &trans                          &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&kp N1          &kp N2          &kp N3        &kp N4     &kp N5                  &kp N6         &kp N7     &kp N8  &kp N9     &kp N0
&kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &none                   &kp PAGE_UP    &mkp LCLK  &none   &mkp RCLK  &mkp MCLK
&none           &none           &none         &none      &none                   &kp PAGE_DOWN  &none      &none   &none      &none
&none           &trans          &trans        &trans     &trans  &trans  &trans  &mo 3                                        &none
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &bootloader                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans                          &trans
            >;
        };
    };
};
